@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.about-section {
    background-image: url("../public/images/Background\ Circle.png");
    background-position: top right;
    background-repeat: no-repeat;
    @apply pt-24;
}

.hero-section {
    background-image: url("../public/images/bggrid.png");
    background-size: cover;
    background-repeat: no-repeat;
    @apply py-16;
}


.testimonial-cards {
    background-image: url("../public/images/navbar-checks-bg.svg");

    @apply py-16;
}

@font-face {
    font-family: "Satoshi";
    src: url('../public/fonts/Satoshi.ttf');
}

.underline-custom {
    position: relative;
}

.underline-custom::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.isActiveButton:active {
    background-color: aqua;
}